@model ArtCommissions.Common.DTOs.CommissionReport
@{
    ViewBag.ReportType = "commission";
}

<div>
    <h5 class="fw-bold">
        Reported commission:
        <a asp-area="User" asp-controller="Commissions" asp-action="Details" asp-route-id="@Model.ReportedCommission.Id">
            @Model.ReportedCommission.Title
        </a>
    </h5>
</div>
<div>
    <partial name="_ReportDetailsLayout" model="Model" />
</div>

@section Scripts {
    <script src="~/js/reports.js"></script>
}