@model ArtCommissions.Common.DTOs.UserReport
@{
    ViewBag.ReportType = "user";
}

<div>
    <h5 class="fw-bold">
        Reported user:
        <a asp-area="User" asp-controller="Dashboards" asp-action="Profile" asp-route-id="@Model.ReportedUser.Id">
            @Model.ReportedUser.Username
        </a>
    </h5>
</div>
<div>
    <partial name="_ReportDetailsLayout" model="Model" />
</div>

@section Scripts {
    <script src="~/js/reports.js"></script>
}